            --------------------
                  Download
            --------------------
              Mikolaj Izdebski
            --------------------
                 2016-08-26


Getting XMvn

  This page describes how to obtain source code of XMvn.  Currently
  there are no binary releases available, so you'll have to build XMvn
  on your own.  XMvn is intended to be used mostly by GNU/Linux, which
  usually build all packages from source, the lack of binary releases
  isn't considered a problem.

  XMvn is hosted on Github, but there is a Pagure mirror available for
  convinience.  Pagure mirror may be sometimes slightly out of date,
  but some people may still prefer it.  It also serves as a backup in
  case of outage at Github.

Releases

  The latest release of XMvn is ${project.version}.  If you are not
  sure which version to download then you are recommended to get this
  version.  You can get
  {{{https://github.com/fedora-java/xmvn/releases/download/${project.version}/xmvn-${project.version}.tar.xz}source
  tarball of version ${project.version}}} right now.

  Source tarballs of previous releases can be found at
  {{{https://github.com/fedora-java/xmvn/releases}releases page}}.
  For information how to obtain sources of development versions,
  continue reading.

Downloading source tarballs

  * Github (primary repository)

    * latest release:
      {{{https://github.com/fedora-java/xmvn/releases/download/${project.version}/xmvn-${project.version}.tar.xz}xmvn-${project.version}.tar.xz}}

    * latest development snapshot:
      {{{https://github.com/fedora-java/xmvn/archive/master.tar.gz}xmvn-master.tar.gz}}
      or
      {{{https://github.com/fedora-java/xmvn/archive/master.zip}xmvn-master.zip}}

Checking sources from SCM

  * Github (primary repository)

    * anonymous access (read-only):

---------------------------------------------
git clone https://github.com/fedora-java/xmvn.git
---------------------------------------------

    * developer access (for developers with commit rights):

-------------------------------------------------
git clone git@github.com:fedora-java/xmvn.git
-------------------------------------------------

  * Pagure (mirror)

    * anonymous access (read-only):

--------------------------------------------
git clone https://pagure.io/xmvn.git
--------------------------------------------

    * developer access (for developers with commit rights):

------------------------------------------
git clone git@pagure.io/xmvn.git
------------------------------------------

Browsing source code through Web

  * {{{https://github.com/fedora-java/xmvn}Github (primary
    repository)}}

  * {{{https://pagure.io/xmvn/}Pagure (mirror)}}
