<?xml version="1.0"?>
<document>
  <properties>
    <title>Configuration</title>
  </properties>
  <body>
    <section name="Configuration">
      <p>This is a reference for the configuration for XMvn.</p>
      <source>&lt;<a href="#class_configuration">configuration</a>&gt;
  &lt;properties&gt;
    &lt;<i>key</i>&gt;<i>value</i>&lt;/<i>key</i>&gt;
  &lt;/properties&gt;
  &lt;repositories&gt;
    &lt;<a href="#class_repository">repository</a>&gt;
      &lt;id/&gt;
      &lt;type/&gt;
      &lt;properties&gt;
        &lt;<i>key</i>&gt;<i>value</i>&lt;/<i>key</i>&gt;
      &lt;/properties&gt;
      &lt;configuration/&gt;
      &lt;filter/&gt;
    &lt;/repository&gt;
  &lt;/repositories&gt;
  &lt;<a href="#class_buildSettings">buildSettings</a>&gt;
    &lt;debug/&gt;
    &lt;skipTests/&gt;
    &lt;skippedPlugins&gt;
      &lt;<a href="#class_plugin">plugin</a>&gt;
        &lt;groupId/&gt;
        &lt;artifactId/&gt;
        &lt;version/&gt;
        &lt;classifier/&gt;
        &lt;stereotype/&gt;
        &lt;extension/&gt;
      &lt;/plugin&gt;
    &lt;/skippedPlugins&gt;
  &lt;/buildSettings&gt;
  &lt;artifactManagement&gt;
    &lt;<a href="#class_rule">rule</a>&gt;
      &lt;<a href="#class_artifact">artifact</a>&gt;
        &lt;groupId/&gt;
        &lt;artifactId/&gt;
        &lt;version/&gt;
        &lt;classifier/&gt;
        &lt;stereotype/&gt;
        &lt;extension/&gt;
      &lt;/artifact&gt;
      &lt;targetPackage/&gt;
      &lt;targetRepository/&gt;
      &lt;files/&gt;
      &lt;versions/&gt;
      &lt;aliases&gt;
        &lt;<a href="#class_alias">alias</a>&gt;
          &lt;groupId/&gt;
          &lt;artifactId/&gt;
          &lt;version/&gt;
          &lt;classifier/&gt;
          &lt;stereotype/&gt;
          &lt;extension/&gt;
        &lt;/alias&gt;
      &lt;/aliases&gt;
      &lt;optional/&gt;
    &lt;/rule&gt;
  &lt;/artifactManagement&gt;
  &lt;<a href="#class_resolverSettings">resolverSettings</a>&gt;
    &lt;debug/&gt;
    &lt;localRepositories/&gt;
    &lt;metadataRepositories/&gt;
    &lt;ignoreDuplicateMetadata/&gt;
    &lt;prefixes/&gt;
    &lt;blacklist&gt;
      &lt;<a href="#class_artifact">artifact</a>&gt;
        &lt;groupId/&gt;
        &lt;artifactId/&gt;
        &lt;version/&gt;
        &lt;classifier/&gt;
        &lt;stereotype/&gt;
        &lt;extension/&gt;
      &lt;/artifact&gt;
    &lt;/blacklist&gt;
  &lt;/resolverSettings&gt;
  &lt;<a href="#class_installerSettings">installerSettings</a>&gt;
    &lt;debug/&gt;
    &lt;metadataDir/&gt;
  &lt;/installerSettings&gt;
&lt;/configuration&gt;
</source>
      <a name="class_configuration"/>
      <subsection name="configuration">
        <p>Root element of the configuration file.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>properties/<i>key</i>=<i>value</i>*</code>
            </td>
            <td>
              <code>Properties</code>
            </td>
            <td><b>(Many)</b> This element lists system Java properties that should be set before XMvn build is started.</td>
          </tr>
          <tr>
            <td>
              <code>repositories/<a href="#class_repository">repository</a>*</code>
            </td>
            <td>
              <code>List&lt;Repository&gt;</code>
            </td>
            <td><b>(Many)</b> List of repositories. Repositories can be used by resolvers as source of artifacts, by installers as target where artifacts should be installed, or by any other component.</td>
          </tr>
          <tr>
            <td>
              <code>
                <a href="#class_buildSettings">buildSettings</a>
              </code>
            </td>
            <td>
              <code>BuildSettings</code>
            </td>
            <td>This element contains basic XMvn settings.</td>
          </tr>
          <tr>
            <td>
              <code>artifactManagement/<a href="#class_rule">rule</a>*</code>
            </td>
            <td>
              <code>List&lt;PackagingRule&gt;</code>
            </td>
            <td><b>(Many)</b> This element configures how artifacts should be assigned to individual packages.</td>
          </tr>
          <tr>
            <td>
              <code>
                <a href="#class_resolverSettings">resolverSettings</a>
              </code>
            </td>
            <td>
              <code>ResolverSettings</code>
            </td>
            <td>This element contains configuration of XMvn resolver.</td>
          </tr>
          <tr>
            <td>
              <code>
                <a href="#class_installerSettings">installerSettings</a>
              </code>
            </td>
            <td>
              <code>InstallerSettings</code>
            </td>
            <td>This element contains configuration of XMvn installer.</td>
          </tr>
        </table>
      </subsection>
      <a name="class_repository"/>
      <subsection name="repository">
        <p>Artifact repository.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>id</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Unique string identifying this repository.</td>
          </tr>
          <tr>
            <td>
              <code>type</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Role hint of Plexus component implementing the repository.</td>
          </tr>
          <tr>
            <td>
              <code>properties/<i>key</i>=<i>value</i>*</code>
            </td>
            <td>
              <code>Properties</code>
            </td>
            <td><b>(Many)</b> Properties associated with this repository. Properties can be freely used by the implementation, so their exact meaning depends on repository type. See documentation for repository types to see list of supported properties.</td>
          </tr>
          <tr>
            <td>
              <code>configuration</code>
            </td>
            <td>
              <code>DOM</code>
            </td>
            <td>Arbitrary XML used to configure structure of the repository. Configuration can be freely used by the implementation, so their exact meaning depends on repository type. See documentation for repository types to see the format of supported configuration (if any).</td>
          </tr>
          <tr>
            <td>
              <code>filter</code>
            </td>
            <td>
              <code>DOM</code>
            </td>
            <td>A boolean expression describing which artifacts can be stored in this repository.</td>
          </tr>
        </table>
      </subsection>
      <a name="class_buildSettings"/>
      <subsection name="buildSettings">
        <p>Basic build settings.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>debug</code>
            </td>
            <td>
              <code>Boolean</code>
            </td>
            <td>Whether detailed debugging information about the build process should be logged.</td>
          </tr>
          <tr>
            <td>
              <code>skipTests</code>
            </td>
            <td>
              <code>Boolean</code>
            </td>
            <td>Whether compilation and execution of unit and integration tests should be skipped.</td>
          </tr>
          <tr>
            <td>
              <code>skippedPlugins/<a href="#class_plugin">plugin</a>*</code>
            </td>
            <td>
              <code>List&lt;Artifact&gt;</code>
            </td>
            <td><b>(Many)</b> List of plugins which will not be executed during build.</td>
          </tr>
        </table>
      </subsection>
      <a name="class_plugin"/>
      <subsection name="plugin">
        <p>Identifier of Maven artifact.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>groupId</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Group ID of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>artifactId</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Artifact ID of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>version</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Version of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>classifier</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Classifier of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>stereotype</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Maven stereotype of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>extension</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Extension of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
        </table>
      </subsection>
      <a name="class_rule"/>
      <subsection name="rule">
        <p>Identification of Maven Artifact.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>
                <a href="#class_artifactGlob">artifactGlob</a>
              </code>
            </td>
            <td>
              <code>Artifact</code>
            </td>
            <td>Pattern specifying one or more Maven artifacts.</td>
          </tr>
          <tr>
            <td>
              <code>targetPackage</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Name of binary package into which artifacts are assigned.</td>
          </tr>
          <tr>
            <td>
              <code>targetRepository</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>ID of repository into which artifacts are installed.</td>
          </tr>
          <tr>
            <td>
              <code>files/file*</code>
            </td>
            <td>
              <code>List&lt;String&gt;</code>
            </td>
            <td><b>(Many)</b> Files holding the artifact.</td>
          </tr>
          <tr>
            <td>
              <code>versions/version*</code>
            </td>
            <td>
              <code>List&lt;String&gt;</code>
            </td>
            <td><b>(Many)</b> Compatibility versions of the artifact.</td>
          </tr>
          <tr>
            <td>
              <code>aliases/<a href="#class_alias">alias</a>*</code>
            </td>
            <td>
              <code>List&lt;Artifact&gt;</code>
            </td>
            <td><b>(Many)</b> Alternative identifiers of artifacts.</td>
          </tr>
          <tr>
            <td>
              <code>optional</code>
            </td>
            <td>
              <code>Boolean</code>
            </td>
            <td>Whether this rule is optional. Non-optional rules cause uild failure if they are not matched.<p><strong>Default value</strong>: <code>false</code></p></td>
          </tr>
        </table>
      </subsection>
      <a name="class_artifact"/>
      <subsection name="artifact">
        <p>Identifier of Maven artifact.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>groupId</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Group ID of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>artifactId</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Artifact ID of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>version</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Version of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>classifier</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Classifier of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>stereotype</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Maven stereotype of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>extension</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Extension of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
        </table>
      </subsection>
      <a name="class_alias"/>
      <subsection name="alias">
        <p>Identifier of Maven artifact.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>groupId</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Group ID of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>artifactId</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Artifact ID of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>version</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Version of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>classifier</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Classifier of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>stereotype</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Maven stereotype of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
          <tr>
            <td>
              <code>extension</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Extension of the artifact.<p><strong>Default value</strong>: <code></code></p></td>
          </tr>
        </table>
      </subsection>
      <a name="class_resolverSettings"/>
      <subsection name="resolverSettings">
        <p>XMvn settings related to resolution of artifacts.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>debug</code>
            </td>
            <td>
              <code>Boolean</code>
            </td>
            <td>Whether detailed debugging information about artifact resolution process should be logged.</td>
          </tr>
          <tr>
            <td>
              <code>localRepositories/repository*</code>
            </td>
            <td>
              <code>List&lt;String&gt;</code>
            </td>
            <td><b>(Many)</b> List of local repositories where XMvn will look for artifacts.</td>
          </tr>
          <tr>
            <td>
              <code>metadataRepositories/repository*</code>
            </td>
            <td>
              <code>List&lt;String&gt;</code>
            </td>
            <td><b>(Many)</b> List of repositories where XMvn will look for metadata files.</td>
          </tr>
          <tr>
            <td>
              <code>ignoreDuplicateMetadata</code>
            </td>
            <td>
              <code>Boolean</code>
            </td>
            <td>Whether XMvn should refuse to resolve artifact that have more than a single piece of metadata.</td>
          </tr>
          <tr>
            <td>
              <code>prefixes/prefix*</code>
            </td>
            <td>
              <code>List&lt;String&gt;</code>
            </td>
            <td><b>(Many)</b> List of prefixes that XMvn resolver will prepend to system repositories.</td>
          </tr>
          <tr>
            <td>
              <code>blacklist/<a href="#class_artifact">artifact</a>*</code>
            </td>
            <td>
              <code>List&lt;Artifact&gt;</code>
            </td>
            <td><b>(Many)</b> List of blacklisted artifacts which will not be resolved.</td>
          </tr>
        </table>
      </subsection>
      <a name="class_installerSettings"/>
      <subsection name="installerSettings">
        <p>XMvn settings related to installation of artifacts.</p>
        <table>
          <tr>
            <th>Element</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>
              <code>debug</code>
            </td>
            <td>
              <code>Boolean</code>
            </td>
            <td>Whether additional debugging information about artifact nstallation should be printed.</td>
          </tr>
          <tr>
            <td>
              <code>metadataDir</code>
            </td>
            <td>
              <code>String</code>
            </td>
            <td>Directory into which XMvn metadata files are be installed.</td>
          </tr>
        </table>
      </subsection>
    </section>
  </body>
</document>
